* {
    padding: 0;
    margin: 0;
  
    background-color: #d9d7d7;
  }
  
  .container-fluid {
    background-color: #e6e3e3;
  }
  
  h1.H1 {
    font-family: "Oldenburg", cursive;
    background-color: transparent;
    text-align: center;
    padding: 30px;
    color: #402c33;
    font-weight: bold;
  }
  
  .Subtitulos {
    font-family: "IM Fell DW Pica SC", serif;
    color: #6b4e4e;
    font-size: 30px;
    font-weight: lighter;
    background: none;
  }
  
  .form-control {
    box-shadow: 8px 4px 30px rgb(0, 0, 0);
    font-family: "Bentham", serif;
  }
  
  .Subir, .Guardar {
    width: 30%;
    font-family: "Bentham", serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-left: 35%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid#9e4a59;
    box-shadow: 8px 4px 30px rgb(0, 0, 0);
   display: inline;
  }
  
  .group{
    background: transparent;
  }
  
  .form-group{
    background: transparent;
    text-align: center;
  }

  div.footer {
    background-color: #d9b8b8;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
  }
  
  div.media,
  div.media-body {
    background-color: transparent;
  }

  div.media {
    border-width: 2px;
    border-style: dashed;
    border-color: #745a5a;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
  }

.text{
  background-color: transparent;
  font-family: 'PT Sans', sans-serif;
}

.Titulo2{
  font-family: "Oldenburg", cursive;
  background-color: transparent;
  text-align: center;
  font-size: 35px;
}

h5{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;

}

nav {
  font-size: 20px;
  font-family: "Bentham", serif;
}


.comentario {
  text-align: center;
  background: transparent;
}

  @media screen and (max-width: 799px) {
    
    .footer .media img {
      max-width: 64px;
      max-height: 64px;
    }
  }
  
  @media screen and (min-width: 800px) {

    .footer .media img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  